*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

:root{
    --cor-padrao-fonte:#fff;
    --cor-link-topo:#fff;
    --cor-font-preto: #000;
    --cor-botao-pesquisa-top:#50af3d;
    --cor-hover-btn:#96045e;
    --cor-fonte-sub-titulo:#333;
    --cor-hover-ganhar-dinheiro: #05af2a;
    --cor-topo-celular:#000;
    --borda-busca-radape-celular:#ddd;
    --borda-lista-imoveis: #ccc;
    --cor-info-imovel: #555;
    --borda-lateral-direita: #999;
}

.destaque{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../img/banner-alueasy.jpg');
    background-size: cover;
    background-position: center;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}

nav .menu-outline{
    display: none;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin:10px 30px;
}

.nav-links li a{
    text-decoration: none;
    color: var(--cor-link-topo);
}


.active{
    position: relative;
}

.active::after{

    content: '';
    background-color: var(--cor-link-topo);
    width: 25px;
    height: 2px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius:2px;

}

.cadastro-btn{
    background: var(--cor-link-topo);
    color:var(--cor-font-preto);
    padding:8px 20px;
    border-radius:20px;
    text-decoration:none;
    font-size:14px;
    
}

.cadastro-btn:hover{
    background-color: var(--cor-botao-pesquisa-top);
    color:var(--cor-link-topo);
}

.container{
    padding: 0 7%;
}

.destaque h1{
    font-size: 4vw;
    font-weight: 500;
    color:var(--cor-padrao-fonte);
    text-align: center;
    padding-top:22%;
}

.busca-site{
    background-color: var(--cor-padrao-fonte);
    width: 70%;
    margin:30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}


.local-input{
    flex:1;
}

.busca-site form label{
    font-weight: 600;
}

.busca-site form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.busca-site form input{
    display: block;
    border:none;
    background-color: transparent;
    outline: none;
}

.busca-site form button{
  background-color: var(--cor-botao-pesquisa-top);
  width: 55px;
  height: 55px;
  border-radius:50%;
  outline: none;
  cursor: pointer;
  border:none;
}

.busca-site form button img{
    width: 15px;
    margin-top: 5px;
}

.sub-titulo{
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: var(--cor-fonte-sub-titulo);
}

.exclusivos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:30px;
}

.exclusivos div img{
    width: 100%;
    border-radius: 10px;
   
}

.exclusivos div{
  position: relative;
  
}

.exclusivos div span{
    position: absolute;
    top:50%;
    left:43%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:var(--cor-padrao-fonte);
}

.lacais-quentes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:30px;
    margin-bottom: 30px;
}


.lacais-quentes div img{
    width: 100%;
    border-radius: 10px;
}

.lacais-quentes h3{
    font-weight: 600;
    margin-top:10px;
}

.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent),url('../img/banner-2.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding:5%;
    color:var(--cor-padrao-fonte);

}


.cta h3{
    font-size: 4vw;
    font-weight: 500;
    line-height: 5.3vw;
}

.cta p{
    font-size: 18px;
    margin:10px 0;

}

.cta-btn{
    display: inline-block;
    background-color: var(--cor-botao-pesquisa-top);
    color:var(--cor-link-topo);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top:20px;
}

.cta-btn:hover{
    background-color: var(--cor-hover-ganhar-dinheiro);
}

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:30px;
    margin-bottom: 30px;
}

.stories div img{
    width: 100%;
    border-radius: 10px;

}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:var(--cor-padrao-fonte);
    font-size:26px;

}

.rodape{
    margin:80px 0 10px;
    text-align: center;
}

.rodape a{
    text-decoration: none;
    color:var(--cor-botao-pesquisa-top);
    font-size: 22px;
    margin: 0 10px;

}

.rodape hr{
  background-color: var(--cor-botao-pesquisa-top);
  height: 1px;
  width: 100%;
  border: 0;
  margin: 20px 0;
}

.rodape p{
    padding-bottom:15px;
}

  /*  HOME CELULAR  */
@media only screen and (max-width:700px){
    
    .logo{
        position:fixed;
        top: 1%;
        left:7%;

    }

    nav{
        display: inline-block;
        position:fixed;
        top:0;
        z-index:100;
        width: 100%;
        padding: 100px 7% 0;
        background-color: var(--cor-topo-celular);
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav .nav-links li{
     margin: 10px 0;
     display: block;
    }

    .cadastro-btn{
        margin:15px 0 30px;
        display: inline-block;
    }

    nav .menu-outline{
        display: block;
        position: fixed;
        top:4%;
        right: 7%;
        color:var(--cor-padrao-fonte);
        font-size: 28px;
    }

    .active::after{
        left:-40px;
        transform: translate(0, 50%);
        bottom: 50%;
    
    }

    .escondemenu{
        max-height: 300px;
    }

    .destaque h1{
        padding-top:200px;
        font-size: 7vw;
    }

    .busca-site{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }

    .busca-site form{
        display: block;
    }

    .busca-site form input{
        border-bottom: 1px solid var(--borda-busca-radape-celular);
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom:10px;

    }

    .busca-site form  button{
        position:absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%,50%);

    }

    .sub-titulo{
        font-size:6vw;
    }

    .cta{
        padding:15% 5%;

    }

    .cta h3{
      font-size: 7vw;
      line-height: 8vw;
    }

    .cta p{
        font-size: 14px;
    }

    .cta-btn{
      padding: 6px; 
      border-radius: 4px; 
      margin-top:10px;
      font-size: 14px;
    }

    .stories p{
        font-size: 22px;
    }


}
  /*  LISTA DE VIAJES CELULAR  */

.navalu{
    background-color: var(--cor-padrao-fonte);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navalu .nav-links a{
    color:var(--cor-font-preto)
}

.navalu .cadastro-btn{
    background-color: var(--cor-botao-pesquisa-top);
    color: var(--cor-link-topo);

}
.navalu .cadastro-btn:hover {
background-color: var(--cor-hover-ganhar-dinheiro);
}

.navalu .menu-outline{
    color: var(--cor-font-preto);
}

.navalu .active::after{
background-color: var(--cor-font-preto);
}

.lista-imoveis{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}
  
.coluna-esquerda{
    flex-basis: 70%;
}
.coluna-esquerda h1{
    color: var(--cor-fonte-sub-titulo);
    font-weight: 600;
    margin-bottom: 30px;
}

.coluna-direita{
    flex-basis: 25%;
}

.imovel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid var(--borda-lista-imoveis);
}

.imovel-img{
    flex-basis: 40%;
}

.imovel-info{
    flex-basis: 58%;
    color: var(--cor-info-imovel);
}

.imovel-info h3{
 font-size: 22px;
 font-size: 600;
 color: var(--cor-fonte-sub-titulo);
 margin: 4px 0;
}

.imovel-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.imovel-info ion-icon{
    font-size: 18px;
    color: var(--cor-botao-pesquisa-top);
    margin: 10px 1px;
}

.imovel-valor{
    text-align: right;
}

.imovel-valor h4{
    font-size: 20px;
    padding: 5px 0 5px 0;
}

.imovel-valor h4 span{
    font-size: 16px;
    font-weight: 500;   
}

.barra-lateral{
    border: 1px solid var(--borda-lateral-direita);
    margin-top: 30px;
    padding: 20px 30px;
}

.barra-lateral h2{
    font-weight: 500;
}
.barra-lateral h3{
    font-weight: 500;
    margin: 20px 0 10px; 

}

.filtro{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--cor-info-imovel);
}

.filtro1{
    width: 95%;
    align-items: center;
    margin-bottom: 10px;
    color: var(--cor-info-imovel);
}


.filtro1 p{
    flex:1;
}

.filtro1 input{
    margin-right: 15px;
    cursor: pointer;
}

.filtro1 select{
    margin-right: 15px;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--borda-lateral-direita);
    padding: 10px;
    border-radius: 4px;
}

.barra-lateral-link{
  text-align: right;
  margin: 20px 0;

}

.barra-lateral-link a{
    text-decoration: none;
    font-size: 13px;
    color: var(--cor-info-imovel);
}

.barra-lateral button{
    border: none;
    cursor: pointer;
    color: var(--cor-link-topo);
    background-color: var(--cor-botao-pesquisa-top);
    border-radius: 4px;
    width: 95%;
    
}

.barra-lateral button:hover{
    background-color: var(--cor-hover-ganhar-dinheiro);
}


.paginacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.paginacao img{
    width: 15px;
    margin:10px 15px
}

.seta-direita{
    transform: rotate(180deg);
}

.paginacao span{
    margin: 10px 8px;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--cor-link-topo);
    background-color: var(--cor-botao-pesquisa-top);
    cursor: pointer;
}

.paginacao span:hover{
    background-color:  var(--cor-hover-ganhar-dinheiro );
}
.paginacao .ativo{
    background-color: var(--cor-hover-ganhar-dinheiro);
}

@media only screen and (max-width:700px){

    .lista-imoveis{
        margin-top: 150px;
    }
    
    .coluna-esquerda, .coluna-direita, .imovel-img, .imovel-info{
        flex-basis: 100%;
    }
    .coluna-esquerda{
        font-size: 22px;
    }
    .imovel-info h3{
        font-size: 18px;
    }
    .imovel-info ion-icon{
        font-size: 16px;
    }

    .paginacao ruby-span {
        margin: 10px 2px;
        width: 25px;
        height: 25;
        line-height: 25px;
        font-size: 12px;
    }
}


.imoveis-detalhes {
    padding: 0 12%;

}

.imovel-titulo{
    margin-top: 50px!important;
}

.imovel-titulo h1{
    font-weight: 600;
    margin-top: 10px;
}

.imovel-titulo .linha{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.imovel-titulo span{
    margin: 0 20px;
}

.imovel-titulo ion-icon{
    color: var(--cor-botao-pesquisa-top);
    font-size: 14px;
}

.galeria {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'alueasy alueasy . .' 'alueasy alueasy . .';
    margin-bottom: 20px 0;
}

.galeria div img{
    width: 100%;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.galeria-img-1{
    grid-area: alueasy;
}

.pequenos-detalhes h2{
    font-weight: 500;
    margin-top: 10px;
}

.pequenos-detalhes h4{
    text-align: right;
    font-size: 22px;
}

.linha-hr{
    width: 100%;
    max-width: 900px;
    border: 0;
    height: 1px;
    background-color: var(--borda-lista-imoveis);
    margin: 20px 0 50px;
}

.check-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 ;
    border-radius: 8px;
    background-color: var(--cor-link-topo);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 10px 50px;
}

.check-form label{
    display: block;
}

.check-form div{
    padding: 20px;
}

.check-form input{
    border: 0;
    outline: none;
    background: transparent;
}

.check-form button{
    width: 290px;
    font-size: 16px;
    background-color: var(--cor-botao-pesquisa-top);
    border: 0;
    outline: none;
    border-radius: 8px;
    color: var(--cor-padrao-fonte);
    padding: 18px;
}

.check-form button:hover{
    background-color: var(--cor-hover-ganhar-dinheiro);
}

.campo-pessoas{
    flex: 1;
}

.lista-detalhes{
    list-style: none;
    margin: 50px 0;
}

.lista-detalhes li{
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-info-imovel);
}

.lista-detalhes span{
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.lista-detalhes li ion-icon{
    position: absolute;
    top: 5px;
    left: -40px;
}

.imovel-desc{
    max-width: 900px;
    margin-bottom: 60px;
}

.mapa {
    margin: 50px 0;
}

.mapa iframe{
    width: 100%;
    margin-bottom: 30px;
}

.mapa h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.mapa b{
    display: block;
    font-size: 16px;
}

.locatario{
    display: flex;
    align-items: center;
}

.locatario img{
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 30px;
}

.locatario h2{
    font-weight: 500;
    margin-bottom: 20px;
}

.locatario ion-icon{
    color:var(--cor-botao-pesquisa-top);
}

.contato-locatario{
    display: inline-block;
    text-decoration: none;
    background-color: var(--cor-botao-pesquisa-top);
    color: var(--cor-padrao-fonte);
    margin: 40px 0 40px 120px;
    padding: 15px 50px;
    border-radius: 8px;
    border: 1px solid var(--borda-lista-imoveis);
}

.contato-locatario:hover{
    background-color: var(--cor-hover-ganhar-dinheiro);
}


